<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Cource Manager">
        <meta name="keywords" content="Cource Manager, Teach Tracker">
        <title>Ex 08 </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    </head>
    <body>
        <nav class="main_nav">
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('profile')}}">Profile</a></li>
                <li><a href="{{url_for('courses')}}">Courses</a></li>
            </ul>
        </nav>

